<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dipper.monitor.mapper.CommonPropsMapper">

    <!-- 查询 -->
    <select id="getConfByKey" parameterType="string" resultType="com.dipper.monitor.entity.db.config.ConfItemEntity">
        SELECT
        id,
        module_name AS moduleName,
        entity_name AS entityName,
        section_name AS sectionName,
        config_key AS configKey,
        config_name AS configName,
        config_value AS configValue,
        config_desc AS configDesc,
        config_content AS configContent,
        create_time AS createTime,
        update_time AS updateTime
        FROM t_config
        WHERE config_key = #{configKey} and  cluster_code = #{clusterCode}
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.dipper.monitor.entity.db.config.ConfItemEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_config (
        cluster_code,
        module_name,
        entity_name,
        section_name,
        config_key,
        config_name,
        config_value,
        config_desc,
        config_content,
        create_time,
        update_time
        ) VALUES (
        #{clusterCode},
        #{moduleName},
        #{entityName},
        #{sectionName},
        #{configKey},
        #{configName},
        #{configValue},
        #{configDesc},
        #{configContent},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.dipper.monitor.entity.db.config.ConfItemEntity">
        UPDATE t_config
        SET
        module_name = #{moduleName},
        entity_name = #{entityName},
        section_name = #{sectionName},
        config_key = #{configKey},
        config_name = #{configName},
        config_value = #{configValue},
        config_desc = #{configDesc},
        config_content = #{configContent},
        update_time = NOW()
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteByKey" parameterType="string">
        DELETE FROM t_config
        WHERE config_key = #{configKey}
    </delete>

    <!-- 查询所有配置项 -->
    <select id="getConfigList" resultType="com.dipper.monitor.entity.db.config.ConfItemEntity">
        SELECT
        id,
        module_name AS moduleName,
        entity_name AS entityName,
        section_name AS sectionName,
        config_key AS configKey,
        config_name AS configName,
        config_value AS configValue,
        config_desc AS configDesc,
        config_content AS configContent,
        create_time AS createTime,
        update_time AS updateTime
        FROM t_config
    </select>

</mapper>