<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dipper.monitor.mapper.EsTemplateMapper">

    <!-- 插入新模板 -->
    <insert id="insertTemplate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_elastic_template(
        cluster_code,
        zh_name,
        en_name,
        settings,
        dic_name,
        index_patterns,
        alians_patterns,
        number_of_shards,
        number_of_replicas,
        enable_auto_shards,
        rolling_period,
        life_policy,
        template_content,
        create_time,
        update_time
        ) VALUES (
        #{clusterCode},
        #{zhName},
        #{enName},
        #{settings},
        #{dicName},
        #{indexPatterns},
        #{aliansPatterns},
        #{numberOfShards},
        #{numberOfReplicas},
        #{enableAutoShards},
        #{rollingPeriod},
        #{lifePolicy},
        #{templateContent},
        NOW(),
        NOW()
        )
    </insert>

    <!-- 根据ID获取模板 -->
    <select id="getTemplateById" resultType="com.dipper.monitor.entity.db.elastic.EsTemplateEntity">
        SELECT * FROM t_elastic_template WHERE id = #{id}
    </select>

    <!-- 更新模板 -->
    <update id="updateTemplate">
        UPDATE t_elastic_template
        <set>
            <if test="clusterCode != null and clusterCode != ''">cluster_code=#{clusterCode},</if>
            <if test="zhName != null and zhName != ''">zh_name=#{zhName},</if>
            <if test="enName != null and enName != ''">en_name=#{enName},</if>
            <if test="settings != null and settings != ''">settings=#{settings},</if>
            <if test="dicName != null and dicName != ''">dic_name=#{dicName},</if>
            <if test="indexPatterns != null and indexPatterns != ''">index_patterns=#{indexPatterns},</if>
            <if test="aliansPatterns != null and aliansPatterns != ''">alians_patterns=#{aliansPatterns},</if>
            <if test="numberOfShards != null">number_of_shards=#{numberOfShards},</if>
            <if test="numberOfReplicas != null">number_of_replicas=#{numberOfReplicas},</if>
            <if test="enableAutoShards != null">enable_auto_shards=#{enableAutoShards},</if>
            <if test="rollingPeriod != null ">rolling_period=#{rollingPeriod},</if>
            <if test="lifePolicy != null and lifePolicy != ''">life_policy=#{lifePolicy},</if>
            <if test="templateContent != null and templateContent != ''">template_content=#{templateContent},</if>
            update_time=NOW()
        </set>
        WHERE id=#{id}
    </update>

    <!-- 根据ID删除模板 -->
    <delete id="deleteTemplateById">
        DELETE FROM t_elastic_template WHERE id = #{id}
    </delete>

    <!-- 获取所有模板 -->
    <select id="getAllTemplates" resultType="com.dipper.monitor.entity.db.elastic.EsTemplateEntity">
        SELECT * FROM t_elastic_template where cluster_code = #{clusterCode}
    </select>

    <!-- 根据ID获取模板 -->
    <select id="getTemplateByEnName" resultType="com.dipper.monitor.entity.db.elastic.EsTemplateEntity">
        SELECT * FROM t_elastic_template WHERE  cluster_code = #{clusterCode} and en_name=#{enName}
    </select>

    <update id="updateTemplateStat">
        UPDATE t_elastic_template
        SET
        stat_message=#{statMessage}
        WHERE id=#{id}
    </update>


    <select id="getTemplateNum" resultType="int">
        SELECT COUNT(*)
        FROM t_elastic_template
        <where>
            <if test="clusterCode != null and clusterCode != ''">
                AND  cluster_code = #{clusterCode}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (zh_name LIKE CONCAT('%', #{keyword}, '%')
                OR en_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>


    <select id="getTemplateByPage" resultType="com.dipper.monitor.entity.db.elastic.EsTemplateEntity">
        SELECT *
        FROM t_elastic_template
        <where>
            <if test="clusterCode != null and clusterCode != ''">
                AND  cluster_code = #{clusterCode}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (zh_name LIKE CONCAT('%', #{keyword}, '%')
                OR en_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


    <update id="updateAutoCreate">
        UPDATE t_elastic_template
        <set>
            <!-- rollingPeriod 是 Integer -->
            <if test="rollingPeriod != null">rolling_period=#{rollingPeriod},</if>
            <!-- autoCreate 是 Boolean，只需要判断 null -->
            <if test="autoCreate != null">auto_create=#{autoCreate},</if>
            <!-- 更新时间 -->
            update_time=NOW()
        </set>
        WHERE id=#{id}
    </update>


    <update id="autoShardTemplate">
        UPDATE t_elastic_template
        <set>
            <!-- rollingPeriod 是 Integer -->
<!--            <if test="shardSize != null">rolling_period=#{shardSize},</if>-->
            <!-- autoCreate 是 Boolean，只需要判断 null -->
            <if test="autoShard != null">enable_auto_shards=#{autoShard},</if>
            <!-- 更新时间 -->
            update_time=NOW()
        </set>
        WHERE id=#{id}
    </update>

</mapper>