<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dipper.monitor.mapper.MigrationSunTaskMapper">

    <!-- 插入子任务 -->
    <insert id="insertSubtask">
        INSERT INTO t_elastic_migration_subtasks (
        parent_task_id,
        index_name,
        start_time,
        end_time,
        query_content,
        status,
        retry_count,
        error_log,
        created_at,
        updated_at
        ) VALUES (
        #{subtask.parentTaskId},
        #{subtask.indexName},
        #{subtask.startTime},
        #{subtask.endTime},
        #{subtask.queryContent},
        #{subtask.status},
        #{subtask.retryCount},
        #{subtask.errorLog},
        #{subtask.createdAt},
        #{subtask.updatedAt}
        )
    </insert>

    <!-- 分页查询子任务 -->
    <select id="selectSubtasksByPage" resultType="com.dipper.monitor.entity.db.elastic.SunTaskEntity">
        SELECT *
        FROM t_elastic_migration_subtasks
        ORDER BY index_name ASC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!-- 统计总记录数 -->
    <select id="countAllSubtasks" resultType="int">
        SELECT COUNT(*) FROM t_elastic_migration_subtasks
    </select>

    <!-- 根据 ID 查询子任务 -->
    <select id="selectSubtaskById" parameterType="long" resultType="com.dipper.monitor.entity.db.elastic.SunTaskEntity">
        SELECT * FROM t_elastic_migration_subtasks WHERE id = #{id}
    </select>

    <!-- 更新子任务状态 -->
    <update id="updateSubtaskStatus">
        UPDATE t_elastic_migration_subtasks
        SET status = #{status}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 更新子任务错误信息和重试次数 -->
    <update id="updateSubtaskErrorInfo">
        UPDATE t_elastic_migration_subtasks
        SET error_log = #{errorLog}, retry_count = #{retryCount}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <select id="getSunTaskByParentTaskId"  resultType="com.dipper.monitor.entity.db.elastic.SunTaskEntity">
        SELECT * FROM t_elastic_migration_subtasks WHERE parent_task_id = #{parentTaskId}  ORDER BY index_name ASC
    </select>

    <update id="updateTask">
        UPDATE t_elastic_migration_subtasks
        <set>
            <if test="task.parentTaskId != null">
                parent_task_id = #{task.parentTaskId},
            </if>
            <if test="task.indexName != null">
                index_name = #{task.indexName},
            </if>
            <if test="task.startTime != null">
                start_time = #{task.startTime},
            </if>
            <if test="task.endTime != null">
                end_time = #{task.endTime},
            </if>
            <if test="task.queryContent != null">
                query_content = #{task.queryContent},
            </if>
            <if test="task.status != null">
                status = #{task.status},
            </if>
            <if test="task.retryCount != null">
                retry_count = #{task.retryCount},
            </if>
            <if test="task.errorLog != null">
                error_log = #{task.errorLog},
            </if>
            <if test="task.createdAt != null">
                created_at = #{task.createdAt},
            </if>
            <if test="task.updatedAt != null">
                updated_at = #{task.updatedAt},
            </if>
            <!-- 总是更新 updated_at -->
            updated_at = NOW()
        </set>
        WHERE id = #{task.id}
    </update>

</mapper>